.campanha-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.banner-campanha {
    display: flex;
    background-color: #AECC1C;
    border-radius: 50px;
    align-items: flex-end;
    z-index: 2;
}

.banner-campanha .text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

.banner-campanha .text-wrapper .separator {
    display: flex;
}

.banner-campanha .boys-img {
    margin-top: -140px;
    z-index: 3;
}

.banner-campanha .text-wrapper .main-title {
    height: 130px;
}

.banner-campanha .line-top {
    position: absolute;
    height: 500px;
    margin-left: -550px;
    margin-bottom: -250px;
    z-index: 2;
}

.banner-campanha .text-wrapper .separator {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-bottom: 20px;
}

.banner-campanha .text-wrapper .separator .dates-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: -webkit-fill-available;
}

.banner-campanha .text-wrapper .separator .dates-wrapper div {
   display: flex;
   flex-direction: column;
}

.banner-campanha .text-wrapper .separator .title {
    font-family: "cocogoose";
    font-size: 15px;
    color: #ffffff;
    text-align: center;
}

.banner-campanha .text-wrapper .separator .date {
    font-family: "neulis-black";
    font-size: 28px;
    padding: 0 10px;
    text-align: center;
    color: #8F0054;
    background-color: #ffffff;
    border-radius: 8px;
}

.banner-campanha .icon-detail-3 {
    position: absolute;
    top: 180px;
    margin-left: -50px;
    height: 120px;
    z-index: 4;
}

.banner-campanha .icon-detail-2 {
    position: absolute;
    top: 470px;
    z-index: 4;
}

.banner-campanha .icon-detail-1 {
    margin-right: -60px;
    margin-bottom: -50px;
    height: 120px;
    z-index: 4;
}

.campanha-container a {
    color: #FFF;
    text-align: center;
    font-family: "cocogoose";
    font-size: 20px;
    text-decoration: none;
    background-color: #2E518E;
    padding: 15px 40px;
    border-radius: 25px;
}

.campanha-container a:hover {
    background-color: #FBB733;
}