.education-container {
    display: flex;
}

.education-container .cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    margin-left: -300px;
}
.education-container .cards-wrapper .trofeu {
    height: 170px;
    position: absolute;
    margin-top: 235px;
    margin-left: -90px;
}

.education-container .cards-wrapper .card-item {
    color: #FFF;
    text-align: center;
    font-family: "cocogoose";
    font-size: 30px;
    text-decoration: none;
    padding: 15px 40px;
    height: 90px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.education-container .cards-wrapper .card-item .sub {
    font-size: 18px;
}

.education-container .cards-wrapper .card-item.blue {
    background-color: #004F94;
}

.education-container .cards-wrapper .card-item.red {
    background-color: #CA1210;
}

.education-container .cards-wrapper .card-item.orange {
    background-color: #FF7506;
}

.education-container .teens {
    position: absolute;
    height: 800px;
    margin-top: -140px;
    margin-left: -130px;
    z-index: 1;
}

@media (max-width: 1200px) {
    .education-container {
        flex-direction: column-reverse;
        width: 90vw;
    }

    .education-container .cards-wrapper {
        margin-left: unset;
        width: -webkit-fill-available;
        z-index: 2;
    }


    .education-container .teens {
        margin-left: 5vw;
        height: 500px;
    }

    .education-container .cards-wrapper .card-item {
        font-size: 22px;
    }

    .education-container .cards-wrapper .card-item .sub {
        font-size: 12px;
    }
}