.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    background-image: url('../images/folha.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}

.line-header {
    position: absolute;
    z-index: 1;
    height: 300px;
    margin-right: -400px;
    top: 30px;
}