.info-list-container {
    display: flex;
    flex-direction: column;
    margin-top: -580px;
    max-width: 1000px;
}

.info-list-container .profe-img {
    width: 530px;
    align-self: flex-end;
    margin-right: 35px;
}

.info-list-container .cards-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-list-container .cards-list .card {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 30px 60px;
    border-radius: 40px;
    color: #FFFFFF;
    font-family: "jakarta-medium";
    z-index: 2;
}

.info-list-container .cards-list .card.c1 {
    background-color: #004F94;
}

.info-list-container .cards-list .card.c2 {
    background-color: #CA1210;
}

.info-list-container .cards-list .card.c3 {
    background-color: #FF7506;
    z-index: 3;
}

.info-list-container .cards-list .card .number {
    font-size: 80px;
    font-family: "jakarta-bold";
}

.info-list-container .cards-list .card .text {
    width: 65%;
}

.info-list-container .cards-list .ov-1 {
    position: absolute;
    margin-left: -60px;
    margin-top: -50px;
    height: 100px;
    z-index: 3;
}

.info-list-container .cards-list .ov-2 {
    position: absolute;
    height: 80px;
    margin-right: -1000px;
    margin-bottom: -115px;
    z-index: 2;
}

.info-list-container .cards-list .ov-3 {
    position: absolute;
    z-index: 2;
    height: 150px;
    margin-left: -100px;
    top: 2170px;
}

.info-list-container .cards-list .line-info {
    position: absolute;
    right: 0;
    transform: scaleX(-1);
    height: 600px;
    z-index: 1;
}