.info-cards-title {
    height: 80px;
    margin-bottom: -100px;
    z-index: 2;
}

.info-cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    justify-items: center;
    margin-top: 50px;
}

.info-cards-grid .info-text-wrapper {
    grid-column: span 1;
}

.info-cards-grid .info-text-wrapper span {
    font-family: "jakarta-medium";
    color: #004F94;
    font-size: 20px;
}

.info-cards-grid .info-card-img {
    grid-column: span 1;
    height: 450px;
}

.info-cards-grid .info-card-img.mob {
    display: none;
}

.info-cards-grid .info-card-img.desk {
    display: block;
}

@media (max-width: 1000px) {
    .info-cards-title {
        height: 50px;
    }

    .info-cards-grid {
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 20px;
        margin-top: 20px;
    }

    .info-cards-grid .info-card-img {
        height: unset;
        width: 80vw;
    }

    .info-cards-grid .info-card-img.mob {
        display: block;
    }

    .info-cards-grid .info-card-img.desk {
        display: none;
    }

    .info-cards-grid .info-text-wrapper {
        padding: 20px;
    }
}