.social-session-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: -webkit-fill-available;
    max-width: 1000px;
    min-height: 700px;
}

.social-session-container .title.desk {
    height: 75px;
    align-self: flex-start;
}

.social-session-container .title.mob {
    display: none;
}

.social-session-container .social-wrapper {
    display: flex;
    width: 50%;
}

.social-session-container .social-wrapper .images-wrapper {
    display: flex;
}

.social-session-container .social-wrapper .images-wrapper img {
    position: absolute;
    height: 300px;
}

.social-session-container .social-wrapper .images-wrapper .social-img-1 {
    z-index: 1;
}

.social-session-container .social-wrapper .images-wrapper .social-img-2 {
    margin-left: 330px;
    margin-top: 40px;
    z-index: 3;
}

.social-session-container .social-wrapper .images-wrapper .social-img-3 {
    margin-left: 120px;
    margin-top: 250px;
    z-index: 2;
}
    
.social-session-container .social-wrapper .smartphone {
    position: absolute;
    margin-left: 680px;
    height: 700px;
    margin-top: -100px;
    z-index: 4;
}

.social-session-container .social-wrapper .ov-img-1 {
    position: absolute;
    margin-left: 830px;
    margin-top: -200px;
}

.social-session-container .social-wrapper .images-wrapper .ov-line-1 {
    height: 800px;
    left: 0;
    margin-left: -100px;
}

.social-session-container .social-wrapper .ov-line-2 {
    position: absolute;
    margin-top: 100px;
    height: 800px;
    right: 0
}

@media (max-width: 769px) {
    .social-session-container {
        max-width: unset;
        width: 100vw;
        min-height: unset;
        justify-content: center;
        align-items: center ;
    }

    .social-session-container .title.desk {
        display: none;
    }

    .social-session-container .title.mob {
        display: block;
        height: 150px;
    }

    .social-session-container .social-wrapper {
        width: 90%;
    }

    .social-session-container .social-wrapper .smartphone {
        position: unset;
        margin-left: unset;
        height: 70vh;
        margin-top: -100px;
        z-index: 4;
    }

    .social-session-container .social-wrapper .images-wrapper .social-img-1 {
        position: unset;
        z-index: 1;
    }

    .social-session-container .social-wrapper .images-wrapper .social-img-2 {
        position: unset;
        margin-left: -350px;
        margin-top: 230px;
        z-index: 2;
    }

    .social-session-container .social-wrapper .images-wrapper .social-img-3 {
        position: unset;
        margin-left: -380px;
        margin-top: 470px;
        z-index: 3;
    }

    .social-session-container .social-wrapper .smartphone {
        margin-top: unset;
    }

    .social-session-container .social-wrapper .ov-img-1 {
        position: absolute;
        margin-left: unset;
        right: 0;
        margin-top: -140px;
        height: 170px;
    }

    .social-session-container .social-wrapper .images-wrapper .ov-line-1 {
        height: unset;
        width: 100vw;
    }
}

@media (max-width: 430px) {
    .social-session-container .social-wrapper .images-wrapper .social-img-1 {
        height: 200px;
        position: unset;
        z-index: 1;
    }

    .social-session-container .social-wrapper .images-wrapper .social-img-2 {
        position: unset;
        height: 200px;
        margin-left: -240px;
        margin-top: 150px;
        z-index: 2;
    }

    .social-session-container .social-wrapper .images-wrapper .social-img-3 {
        position: unset;
        height: 200px;
        margin-left: -240px;
        margin-top: 300px;
        z-index: 3;
    }

    .social-session-container .social-wrapper .smartphone {
        margin-top: unset;
        height: 55vh;
        margin-left: -100px;
    }

    .social-session-container .title.mob {
        height: unset;
        width: 90vw;
    }

    .social-session-container .social-wrapper .ov-img-1 {
        margin-top: -60px;
        height: 100px;
    }
}